<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template is working</title>
</head>
<body>
    <h1>Welcome to the text analyzer. Enter your text below</h1>
    <form action='/analyze' method='get'>
        <textarea name="text" style='width: 954px; height: 256px;'></textarea><br>
        <input type='checkbox' name="removepunc"> Remove Punctuations</input><br>
        <input type='checkbox' name="fullcaps"> Upper Case </input><br>
        <input type='checkbox' name="newliner"> Remove Lines </input><br>
        <input type='checkbox' name="removeexspace"> Remove Extra Space </input><br>
        <input type='checkbox' name="charcount"> Count the number of charecters </input><br>
        <button type='submit'>Analyze text</button>
    </form>

</body>
</html>